@import 'constants/colors.scss';
@import 'constants/fonts.scss';

.comparison-matrix {
    margin: 15px auto 0;
}

.comparison-matrix__table {
    margin: 0 auto;
    position: sticky;
    top: 20px;
}

.table {
    &__cell {
        height: 35px;
        padding: 0;
        white-space: nowrap;
        width: 35px;

        &_top-header {
            height: 40px;
        }

        &_right-header {
            max-width: 70px;
            overflow: hidden;
            padding-right: 10px;
            text-align: right;
            text-overflow: ellipsis;
        }

        &_value {
            border: 1px solid $color-cell-border;
            box-sizing: border-box;
            text-align: center;
            vertical-align: middle;
        }
    }
}
