@import 'constants/colors.scss';
@import 'constants/fonts.scss';

.menu {
    background: $color-dark-purple;
    text-align: center;

    &__item {
        line-height: 30px;
        margin-top: 5px;

        &:first-child {
            margin-top: 0;
        }

        &:nth-child(4),
        &:nth-child(6) {
            margin-top: 20px;
        }
    }

    &__link {
        display: block;
        text-decoration: none;

        &_page {
            color: $color-active;
        }

        &_legal {
            color: $color-legal;
            font-size: $font-xs;
        }
    }

    &__button {
        color: $color-active;
        display: block;
        width: 100%;
    }
}
