@import 'constants/colors.scss';
@import 'constants/fonts.scss';

.error {
    color: $color-error;
    font-size: $font-xxs;
    height: $line-height-xxs;
    padding: 4px 0;
    text-align: center;

    &_hidden {
        visibility: hidden;
    }
}
