@import 'constants/colors.scss';
@import 'constants/media.scss';
@import 'constants/fonts.scss';

.comparison-type-select {
    display: none;

    &__option {
        font-size: $font-s;
    }
}

@include for-medium-mobile {
    .comparison-type-select {
        display: block;

        &__option {
            background: none;
            border: 0;
            color: $color-active;
            cursor: pointer;
            line-height: 30px;
            width: 50%;

            &_active {
                border-bottom: 1px solid $color-active;
            }
        }
    }
}

@include for-tablet {
    .comparison-type-select {
        display: block;

        &__option {
            background: none;
            border: 0;
            color: $color-main-text;
            line-height: 30px;
            width: 50%;
        }
    }
}
