.comparison-select {
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23102027'><polygon points='0,0 100,0 50,50'/></svg>");
    background-position: right 2px top 12px, 0 0;
    background-repeat: no-repeat;
    background-size: 10px;
    padding: 5px 15px 5px 5px;
}
