@import 'constants/colors.scss';
@import 'constants/fonts.scss';
@import 'constants/media.scss';

.menu-toggler {
    color: $color-link;
    display: block;
    font-size: $font-xl;
    line-height: 60px;
    width: 50%;
}

@include for-tablet() {
    .menu-toggler {
        display: none;
    }
}
