@import 'constants/colors.scss';

.error-popup {
    &_hidden {
        display: none;
    }

    &__container {
        display: table;
        height: 100%;
        width: 100%;
    }

    &__content {
        background: $color-error-popup;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}
