@import 'constants/media.scss';

.question {
    &__label {
        display: block;
        margin-top: 25px;
    }

    &__input {
        display: block;
        margin-top: 15px;
        width: 100%;
    }
}

@include for-mobile() {
    .question__label,
    .question__input {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}
