$color-dark-purple: #102027;
$color-white: #fff;
$color-grey-blue: #37474f;
$color-green: #00c853;
$color-dark-green: #009624;
$color-light-grey-blue: #62727b;
$color-light-grey: #adc9d9;

$color-active: $color-green;
$color-link-current: $color-white;
$color-legal: $color-dark-green;
$color-logo: $color-white;
$color-page-header: $color-white;
$color-paragraph: $color-white;
$color-placeholder: $color-light-grey;
$color-placeholder-background: $color-light-grey-blue;
$color-main-text: $color-white;
$color-menu-background: $color-dark-purple;
$color-main-background: $color-grey-blue;
