$color-active: var(--color-active);
$color-disabled: var(--color-disabled);
$color-cell-border: var(--color-cell-border);
$color-link: var(--color-link);
$color-link-current: var(--color-link-current);
$color-legal: var(--color-legal);
$color-logo: var(--color-logo);
$color-page-header: var(--color-page-header);
$color-paragraph: var(--color-paragraph);
$color-placeholder: var(--color-placeholder);
$color-placeholder-background: var(--color-placeholder-background);
$color-main-text: var(--color-main-text);
$color-menu-background: var(--color-menu-background);
$color-main-background: var(--color-main-background);
$color-error: var(--color-error);
