$color-dark-purple: #102027;
$color-white: #fff;
$color-light-grey-blue: #37474f;
$color-green: #00c853;
$color-dark-green: #009624;

$color-active: $color-green;
$color-legal: $color-dark-green;
$color-logo: $color-white;
$color-main-text: $color-white;
$color-menu-background: $color-dark-purple;
$color-main-background: $color-light-grey-blue;
