@import 'constants/media.scss';

.method-description {
    margin-top: 25px;
}

@include for-mobile() {
    .method-description {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}
