@import 'constants/media.scss';

.application {
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
}

@include for-mobiles() {
    .application {
        padding-bottom: 15px;
    }
}

@include for-tablet() {
    .application {
        padding-bottom: 45px;
    }
}
