@import 'constants/media.scss';

.comparisons {
    margin-top: 25px;

    &__header {
        display: block;
    }

    &__widget {
        display: none;
    }
}

@include for-mobile() {
    .comparisons {
        margin: 25px auto 0;
        width: 75%;

        &__widget_active {
            display: block;
        }
    }
}
