@import 'constants/media.scss';

.comparisons {
    margin-top: 25px;

    &__header {
        display: block;
    }

    &__matrix {
        display: none;
    }
}

@include for-mobile() {
    .comparisons {
        &__list {
            display: none;
        }

        &__list_active,
        &__matrix_active {
            display: block;
        }
    }
}
