@import 'constants/media.scss';

.comparison {
    margin-top: 15px;
    text-align: center;

    &__label {
        display: block;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__select {
        width: 100%;
    }
}

@include for-medium-mobile() {
    .comparison {
        margin: 15px auto 0;

        &__label {
            display: block;
        }
    }
}
