@import 'constants/colors.scss';
@import 'constants/fonts.scss';

.button {
    color: $color-active;
    display: block;
    font-size: $font-s;
    line-height: 30px;
    text-align: center;
    width: 100%;
}
