@import 'constants/fonts.scss';
@import 'constants/colors.scss';

.table {
    border-collapse: collapse;
    border-spacing: 0;
    color: $color-paragraph;
    font-size: $font-xs;
    margin-top: 15px;

    &__caption {
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }

    &__td {
        border: 1px solid $color-cell-border;
    }

    &__th {
        font-weight: bold;
        text-align: center;

        &_rotated {
            position: relative;

            & div {
                bottom: 0;
                overflow: hidden;
                position: absolute;
                text-overflow: ellipsis;
                transform: rotate(-30deg);
                transform-origin: left top;
                white-space: nowrap;
                width: 70px;
            }
        }

        &_right {
            border: 0;
        }
    }
}
