@import 'constants/colors.scss';
@import 'constants/fonts.scss';
@import 'constants/media.scss';

.result {
    position: relative;

    &__header {
        display: block;
        margin-top: 25px;
    }

    &__table {
        border-collapse: collapse;
        font-size: $font-xs;
        margin-top: 15px;
        table-layout: fixed;
        text-align: center;
        width: 100%;

        td {
            border: 1px solid #102027;
            padding: 5px 10px;
        }
    }

    &__object {
        height: 30px;

        &-name,
        &-priority {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__error-popup {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
