@import 'constants/colors.scss';
@import 'constants/fonts.scss';

html,
body {
    background: $color-main-background;
    font-family: $font-sans-serif;
    font-size: $font-s;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    transition-duration: 0.3s;
    transition-property: color, background-color, border-color;
}
