@import 'constants/colors.scss';
@import 'utils/styleHelpers.scss';
@import 'constants/media.scss';

.footer {
    display: none;
}

@include for-tablet() {
    .footer {
        background: $color-menu-background;
        bottom: 0;
        box-sizing: border-box;
        color: $color-paragraph;
        display: block;
        line-height: 30px;
        padding: 0 30px;
        position: absolute;
        width: 100%;

        &__container {
            @include clearfix;

            margin: 0 auto;
            max-width: $max-width;
        }

        &__copyright {
            float: left;
        }

        &__links {
            float: right;
        }

        &__link {
            float: left;
            margin-left: 15px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
