@import 'constants/fonts.scss';
@import 'constants/colors.scss';

.label {
    color: $color-paragraph;
    font-size: $font-xs;
    line-height: $line-height-xs;
    margin: 0;
    padding: 0;
    text-align: center;
}
